<!DOCTYPE html>
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>

        form{
           margin: 50px; 
          
        }
    
            .form-group label .asteriskField {
                display: none;
                /* Hides the asterisk */
            }
     

    </style>
  </head>
  <body>
    {% include "exam/navbar.html" %}
 


<br><br><br>
<h2 class="text-center">create account</h2>
<form method="post">
  {% csrf_token %}
  <div class="row justify-content-center">
    <div class="col-3">
      {{ userForm.first_name|as_crispy_field }}
    </div>
    <div class="col-3">
      {{ userForm.last_name|as_crispy_field }}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      {{ userForm.email|as_crispy_field }}
    </div>
    <div class="col-3">
      {{ userForm.id_no|as_crispy_field }}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      {{ userForm.sex|as_crispy_field }}
    </div>
    <div class="col-3">
      {{ userForm.departement|as_crispy_field }}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      {{ userForm.password1|as_crispy_field }}
    </div>
    <div class="col-3">
      {{ userForm.password2|as_crispy_field }}
    </div>
  </div>
  <p class="text-center">do have an account? <a href="teacherlogin">login</a></p>

  <div class="text-center">
    <button type="submit" class="btn btn-success justify-content-center" value="signup">Sign Up</button>
  </div>


</form>
<br><br>
{% include "exam/footer.html" %}
  </body>
</html>
